.container {
  width: 100%;
  margin: 20px auto;
}

h5 {
  color: aliceblue;
  text-align: center;
}

.search-container {
  margin: 0 25%;
  outline: none;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.currentweather {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin: 10px 20px;
}

.forecast {
  display: flex;
  justify-content: center; 
  padding: 15px 0;
  margin: 10px 20px;
}

@media (max-width:780px) {
  .search-container {
    margin: 0 10%;
  }
}